@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #fcf5e9;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: #333;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem auto;
  padding: 0 1.2rem;
}
.container-sm {
  max-width: 56.25rem;
  display: flex;
  
}
.container-lg {
  max-width: 87.5rem;
}
.logo {
  /* height:2rem; */
  width: 8rem;
}
.right-navbar {
  display: flex;
  gap: 1rem;
}
.right-navbar a {
  padding: 0.5rem 1rem;
}
.right-navbar a:hover {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
}
.right-navbar .current {
  background-color: var(--primary-color);
  font-weight: 600;
}
.hero {
  /* height: 31.25rem; */
  height:27rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h2 {
  font-size: 2.5rem;
  line-height: 1.4;
  font-weight: normal;
}
.bg-primary {
  background-color: var(--primary-color);
  color:#333;
}
.bg-dark{
    background-color: #333;
    color: #fff;
}
.img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}
.gallery-item {
  width: calc(33.333% - 1.25rem);
  /* background-color: blue; */
  border-radius: 0.8rem;
}
.gallery-item img {
  /* height:20vh;
    width:20vw; */
  border-radius: 0.8rem;
}
.gallery-item img:hover {
  opacity: 0.9;
}

.footer{
  margin-top: 2rem;
  padding:0 10rem;
  border-top: 1px solid #aaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer a {
  margin-right: 0.25rem;
}
.footer h4 {
  font-size: 1rem;
  margin-top: 1rem;
}

.services{
    background-color: #333;
    color:#fff;
    padding: 3rem 1rem 4rem;
}
.services-flex{
    display:flex; 
    gap:1.5rem;
}
.service h4{
    font-size:1.1rem;
    margin-bottom: 0.7rem;
} 
.section-heading{
    font-size: 1.6rem;
    text-align: center;
    margin-bottom:2.5rem;
}
.team{
    padding:3rem 1rem 4rem;
}
.team-flex{
    display:flex;
    gap:1.4rem;
}
.team img{
    border-radius: 0.8rem;
}
.hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%); 
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.contact{
    padding:3rem 0rem 4rem;
    margin: 1.2rem auto;
}
.contact .container{
    padding: 0 6rem;
}
.contact p{
    text-align: center;
    margin-bottom:2rem;
}
.form-group{
    margin:2rem 0;   
}
.contact input,.contact textarea{
    border:none;
    border-bottom:1px solid #333;
    width:100%;
    height: 3rem;
    outline: none;
    font-family: inherit;
    padding-bottom: 1rem;
    /* font-size: inherit; */
}
.contact textarea{
    height:5rem;
    resize:none;
}
.contact .btn{
    height: 3rem;
    width:100%;
    background-color: #fff;
    border: none;
    border: 1px solid #333;
    font-size: 1rem;
    font-weight: 500;
    cursor:pointer;
}
.contact button:hover{
    background-color: #333;
    color:#fff;
}
@media (max-width:768px) {
  .navbar,
  .footer-container,.team-flex {
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    text-align: center;
  }
  .hero {
    height: 17.25rem;
  }
  .hero h2 {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: normal;
  }
  .gallery-item {
    width: calc(50% - 1.25rem);
  }
  .footer {
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    padding:1rem 6rem;
    gap:1rem;
    text-align: center;
    padding:0 6rem;
  }
  .footer img{
    margin-top:0.89rem;
  }
  .services-flex{
    flex-direction: column;
    text-align: center;
  }
  .contact .container{
    padding: 0 3rem;
}
  .contact p{
    font-size: 1.1rem;
  }
  .contact .btn{
    font-size: 1.07rem;
  }
  
}
